<div class="entry">
  <div class="title">
    <h2><%= link_to post.title, content_url(post.post_type, post.slug), :rel => "bookmark", :title => post.title %></h2>
  </div>
  <div class="meta">
    <div class="date">
      <h3>
        <% date = post.publish_date || post.created_at %>
        <%= date.strftime("#{date.day.ordinalize} %B %Y") %>
      </h3>
      Categories:<br/>
      <% post.categories.each do |category| %>
       &nbsp;&nbsp;<%= link_to category, category_url(category), :class => "category" %>
        <br />
      <% end %>
      <br/>
    </div>
  </div>
  <div class="content">
    <div class="post">
      <%= raw markdown gfm post.content[:body] %>
    </div>
    <% if not params[:action] == "content" %>
      <div class="comment-link">
        <span class="entry-comments">
          <%= link_to "Comments (#{post.comment_count})", content_url(post.post_type, post.slug) + "/#comments" %>
        </span>
      </div>
    <% end %>
  </div>
  <br class="clear"/>
</div>
