<%= render :partial => 'content', :locals => { :post => @post } %>

<div id="commentBox" class="grey"><a id="comments"></a>

  <div class="title"><h2>Comments</h2></div>
  <br/><br/>

  <div id="comment_list">
    <%= render :partial => "comments", :locals => { :comments => @post.comments } %>
  </div>

  <div class="meta">
    <div class="date"><h3>Your Comment</h3></div>
    <br/>

    <p>
    </p></div>
  <% form_for(Comment.new, :remote => true, :style => "position:relative;float:left") do |f| %>
    <div class="field">
      <%= f.text_field :author %>
      <%= f.label "Name" %>
    </div>
    <div class="field">
      <%= f.text_field :email %>
      <%= f.label "Email" %>
    </div>
    <div class="field">
      <%= f.text_field :url %>
      <%= f.label "Site" %>
    </div>
    <div class="field">
      <%= f.text_area :body, :cols =>71, :rows => 10 %>
    </div>
    <div class="actions">
      <%= f.submit "Submit Comment" %>
    </div>
    <%= hidden_field_tag "comment[post_id]", @post.id %>
  <% end %>
  <script type="text/javascript">
    $(".new_comment").live("ajax:success", function(data, status, xhr) {

      $(this).clearForm();
      // empty the comment list
      $.get('<%= post_comments_path(@post.id) %>', function (data) {
        $("#comment_list").html(data);
        $("#comment-" + status).scrollTo();
      });

    });
  </script>
  &nbsp;
  <div class="clear">&nbsp;</div>
  <br class="clear"/>&nbsp;

</div>
<br class="break"/>
