<% @posts.each do |post| %>
  <div class="entry">
    <div class="title">
      <h2><%= link_to post.title, post, :rel => "bookmark", :title => post.title %></h2>
    </div>
    <div class="meta">
      <div class="date">
        <h3>
          <%
             Time.zone = 'Eastern Time (US & Canada)'
             date = post.publish_date
          %>
          <%= date.strftime("#{date.day.ordinalize} %B %Y") %>
        </h3>
        Categories:<br/>&nbsp;&nbsp;
        <% post.categories.each do |category| %>
          <%= category %>
        <% end %>
        <br/>
      </div>
    </div>
    <div class="content">
      <div class="post">
        <%= raw markdown gfm post.content[:body] %>
      </div>
    </div>
    <br class="clear"/>
  </div>
<% end %>

<div id="pageNav">
  <div class="older"><%= link_to "< Older Entries", page_url(params[:page].to_i + 1) %></div>
  <% if params[:page].to_i > 1 %>
    <div class="newer"><%= link_to "Newer Entries >", page_url(params[:page].to_i - 1) %></div>
  <% end %>
</div>

