<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= label_tag "Body" %><br />
    <%= text_area_tag "post[content][body]", @post.content[:body], :rows => "15", :cols => "80" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
