<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Categories</th>
    <th>Status</th>
    <th>Date Published</th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title.empty? ? "(empty)" : post.title, edit_post_path(post) %></td>
    <td><%= post.categories.inspect %></td>
    <td><%= link_to_if(post.status == "draft", post.status, preview_post_path(post.id))%></td>
    <td><%= post.publish_date %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

  <%
     prev_page = params[:page].to_i + 1
     next_page = params[:page].to_i - 1
  %>
  <% if @posts.total_pages >= prev_page %>
    <div class="older"><%= link_to "< Older Entries", posts_url(:page => prev_page) %></div>
  <% end %>
  <% if next_page != 0 %>
    <div class="newer"><%= link_to "Newer Entries >", posts_url(:page => next_page) %></div>
  <% end %>

<%= link_to 'New post', new_post_path %>
